



.header-productos{
    background-color: #F0A83E;
}

.h1-productos{
    margin-top: 12%;
    color: black;
    text-align: center;
    margin-bottom: 5%;
}

#container-productoUno{
    margin-top:1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20%;
}

.ProductoUno{
    border: 1px rgba(0, 0, 0, 0.378) solid;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
}

.ProductoUno p{
    color: #3C2313;
    font-size: 105%;
}

.ProductoDos p{
    color: #3C2313;
    font-size: 105%;
}

.ProductoDos{
    border: 1px rgba(0, 0, 0, 0.378) solid;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
}

  .btnlistar {
      background-color: #8000ff;
      color: white;
      border-color: #8000ff;
    }

  .btnlistar:hover {
    background-color: rgb(199, 114, 255);
    border-color: #8000ff;
  }



  .btnlistarcrear{
    background-color: #8000ff;
    color: white;
    border-color: #8000ff;
    margin-bottom: 20px;
  }

  .btnlistarcrear:hover {
    background-color: rgb(199, 114, 255);
    border-color: #8000ff;
  }




  #siu{
    margin: 5%;
}


